#topicarticle {
  position: relative;
  right: 85px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: black;
}

#topicarticle:hover {
  color: red;
}

#topiccreate {
  color: black;
}

#votetopics {
  position: absolute;
  top: top();
  text-align: center;
}
