#votebox {
  float: left;
}
#votescore {
  font-size: 120%;
  font-family: sans-serif;
  font-weight: bold;
}
#upbutton {
  width: 60px;
  height: 30px;
}
#downbutton {
  width: 80px;
  height: 30px;
}
