#votebox {
  display: flex;
  justify-content: flex-start;
}
#votescore {
  font-size: 120%;
  font-family: sans-serif;
  font-weight: bold;
}
#upbutton {
  width: 10%;
  height: 30%;
}
#downbutton {
  width: 10%;
  height: 30%;
}
